Repository Mischback/mischback_de: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix, stylelint --fix

Add dependency: @mischback/imp
  Makefile
  package-lock.json
  package.json
Due: prettier -w

Remove outdated utility scripts
  _src/ts/_internal_util/busted_manifest/index.ts
  _src/ts/_internal_util/dev-bms/http-server.ts
  _src/ts/_internal_util/dev-bms/index.ts
  _src/ts/_internal_util/dev-bms/nodemon.ts
  _src/ts/_internal_util/errors.ts
  _src/ts/_internal_util/image-processor/configuration.ts
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Remove tsconfig for utility scripts
  tsconfig.internal_util.json
Due: prettier -w

Prepare config for ImP
  image-processor.json
Due: prettier -w

Provide config for ImP
  .imprc.json
Due: prettier -w

Adjust Makefile for .imprc.json
  Makefile
Due: none

Remove husky
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier -w

Add dependency: simple-git-hooks
  .simple-git-hooks.json
  package-lock.json
  package.json
Due: prettier -w

Path conditions:
  prettier -w: (((any of: *.{js,ts}) or (any of: *.{css,scss})) or (any of: *.json)) or (any of: *.hmtl)
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
