Repository Mischback/mischback_de: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier -w", "eslint --fix"],
  "*.{css,scss}": ["prettier -w", "stylelint --fix"],
  "*.json": "prettier -w",
  "*.hmtl": "prettier -w"
}

Jekyll-related gitignore
  .gitignore
Due: none

Run bundle install and adjusted gitignore
  .gitignore
  Gemfile
  Gemfile.lock
Due: none

Added Jekyll-specific stuff to gitignore
  .gitignore
Due: none

Provided basic build setup
  Makefile
  _config.yml
  index.html
Due: none

Added custom tree command
  Makefile
Due: none

Added serve command to Makefile
  Makefile
  _config.yml
Due: none

Added frontend-skeleton files to _config.yml exclude
  _config.yml
Due: none

Moved Jekyll source files to content
  Makefile
  _config.yml
  content/index.html
Due: none

Adjusted paths of frontend-skeleton
  Makefile
  _src/sass/style.scss
  _src/ts/sample.ts
  tsconfig.development.json
  tsconfig.production.json
Due: prettier -w, eslint --fix, stylelint --fix

Made asset generation work
  .gitignore
  Makefile
  _config.yml
  tsconfig.development.json
  tsconfig.production.json
Due: prettier -w

Prepared development mode
  Makefile
  package.json
Due: prettier -w

Added lock files
  .gitignore
  Gemfile.lock
  jekyll-setup.log
  package-lock.json
Due: prettier -w

Got rid of seemingly needless stuff
  Makefile
Due: none

Started from scratch
  .gitignore
  Makefile
Due: none

Added recipe for building the whole project
  Makefile
Due: none

Added recipe for Jekyll installation
  Makefile
Due: none

Modified tree recipe
  Makefile
Due: none

Added recipes to build frontend assets
  Makefile
Due: none

Added recipe to build stylesheets
  Makefile
Due: none

Added recipe to build and bundle JS scripts
  Makefile
  tsconfig.development.json
  tsconfig.production.json
Due: prettier -w

Commented all recipes
  Makefile
Due: none

Adjusted .prettierignore
  .prettierignore
  _config.yml
Due: none

Added another tree shortcut, focussing content
  Makefile
Due: none

Created the _layouts directory
  Makefile
  _config.yml
  _layouts/base.html
  content/administrative/privacy.html
  content/index.html
  index.html
Due: none

Added default values for front matter variables
  _config.yml
Due: none

Made asset manifest accessible to Jekyll
  .gitignore
  Makefile
  _layouts/base.html
Due: none

Implemented access to the hashed filenames
  Makefile
  _layouts/base.html
Due: none

Fixed paths in asset manifest
  Makefile
  _layouts/base.html
  _src/ts/_internal_util/busted_manifest/index.ts
Due: prettier -w, eslint --fix

Created include for stylesheets
  Makefile
  _includes/stylesheet.html
  _layouts/base.html
Due: none

Updated project dependencies
  Gemfile.lock
  package-lock.json
Due: prettier -w

Excluded some directories from VSCode watcher
  .vscode/settings.json
Due: prettier -w

Added nodemon as dependency
  package-lock.json
  package.json
Due: prettier -w

Created mon-build-srv module
  _src/ts/_internal_util/mon-build-srv/index.ts
Due: prettier -w, eslint --fix

Added first config option webRoot
  _src/ts/_internal_util/mon-build-srv/index.ts
Due: prettier -w, eslint --fix

Added config option nodemonConf
  _src/ts/_internal_util/mon-build-srv/index.ts
  nodemon.json
Due: prettier -w, eslint --fix

Fixed typo in Makefile
  Makefile
Due: none

Made nodemon work from inside the script
  _src/ts/_internal_util/mon-build-srv/index.ts
  nodemon.json
Due: prettier -w, eslint --fix

Added receipe to build utilities
  Makefile
Due: none

Converted nodemon setup to Promises
  _src/ts/_internal_util/errors.ts
  _src/ts/_internal_util/mon-build-srv/index.ts
Due: prettier -w, eslint --fix

Added event listener for task completion
  _src/ts/_internal_util/mon-build-srv/index.ts
Due: prettier -w, eslint --fix
