Repository Mischback/mischback_de: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix, stylelint --fix

Moved nodemon stuff into its own module
  _src/ts/_internal_util/errors.ts
  _src/ts/_internal_util/mon-build-srv/index.ts
  _src/ts/_internal_util/mon-build-srv/nodemon.ts
Due: prettier -w, eslint --fix

Created http-server module
  _src/ts/_internal_util/mon-build-srv/http-server.ts
  _src/ts/_internal_util/mon-build-srv/index.ts
Due: prettier -w, eslint --fix

Renamed mon-build-srv into dev-bms
  _src/ts/_internal_util/dev-bms/http-server.ts
  _src/ts/_internal_util/dev-bms/index.ts
  _src/ts/_internal_util/dev-bms/nodemon.ts
Due: prettier -w, eslint --fix

Excluded nodemon.conf from Jekyll build process
  Makefile
  _config.yml
Due: none

Added specific error for unavailable ressources
  _src/ts/_internal_util/dev-bms/http-server.ts
  _src/ts/_internal_util/errors.ts
Due: prettier -w, eslint --fix

Unified log messages
  _src/ts/_internal_util/dev-bms/index.ts
  _src/ts/_internal_util/dev-bms/nodemon.ts
Due: prettier -w, eslint --fix

Completed actual response implementation
  _src/ts/_internal_util/dev-bms/http-server.ts
Due: prettier -w, eslint --fix

Added 404 implementation
  _src/ts/_internal_util/dev-bms/http-server.ts
  _src/ts/_internal_util/errors.ts
Due: prettier -w, eslint --fix

Made address/port of http-server configurable.
  Makefile
  _src/ts/_internal_util/dev-bms/http-server.ts
  _src/ts/_internal_util/dev-bms/index.ts
  nodemon.json
Due: prettier -w, eslint --fix

Added comments
  _src/ts/_internal_util/dev-bms/http-server.ts
  _src/ts/_internal_util/dev-bms/index.ts
  _src/ts/_internal_util/dev-bms/nodemon.ts
Due: prettier -w, eslint --fix

Startet image-processor
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Added tslog module
  _src/ts/_internal_util/image-processor/index.ts
  package-lock.json
  package.json
Due: prettier -w, eslint --fix

Integrated logging and implemented debug mode
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Added more config options
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Added config file image-processor.json
  Makefile
  image-processor.json
Due: prettier -w

Created function to wrap sharp
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Added sharp module
  package-lock.json
  package.json
Due: prettier -w

Added type definitions for sharp
  package-lock.json
  package.json
Due: prettier -w

[NOT LINTED] Implemented the sharp wrapper
  _src/ts/_internal_util/image-processor/index.ts
  image-processor.json
Due: prettier -w, eslint --fix

Fixed linting
  _src/ts/_internal_util/image-processor/index.ts
  image-processor.json
Due: prettier -w, eslint --fix

Next try, providing better code structure
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Separated pipe building into its own function
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Adjusted structure of config file
  image-processor.json
Due: prettier -w

[NOT LINTED] Created loops to populate required pipes
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

[NOT LINTED] buildPipe() now builds the correct target format
  _src/ts/_internal_util/image-processor/index.ts
  image-processor.json
Due: prettier -w, eslint --fix

Put configuration parsing in module
  _src/ts/_internal_util/image-processor/configuration.ts
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Added first checks to verify configuration
  _src/ts/_internal_util/image-processor/configuration.ts
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Added .nvmrc
  .nvmrc
Due: none

Adjusted Makefile
  Makefile
Due: none

Updated package-lock.json
  package-lock.json
Due: prettier -w

Applied formatOptions during pipe building
  _src/images/.gitignore
  _src/ts/_internal_util/image-processor/configuration.ts
  _src/ts/_internal_util/image-processor/index.ts
  image-processor.json
Due: prettier -w, eslint --fix

Included recipe for image processing in Makefile
  Makefile
Due: none

Excluded image-processor.json from Jekyll build process
  _config.yml
Due: none

Added the processed filename to image-processor's output
  Makefile
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Removed jpeg as target format from image-processor config
  image-processor.json
Due: prettier -w

Adjusted debug messages
  _src/ts/_internal_util/image-processor/index.ts
Due: prettier -w, eslint --fix

Removed testing from Makefile
  Makefile
Due: none

Clean package.json
  package-lock.json
  package.json
Due: prettier -w

Add dependency: @mischback/buster
  Makefile
  package-lock.json
  package.json
Due: prettier -w

Add dependency: @mischback/srv4dev
  Makefile
  package-lock.json
  package.json
Due: prettier -w

Path conditions:
  prettier -w: (((any of: *.{js,ts}) or (any of: *.{css,scss})) or (any of: *.json)) or (any of: *.hmtl)
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
